#
# MPU3050 Gyroscope Sensor Configuration
#

config GYRO
	bool "Gyroscope Sensor"
	default y
	help
	  This option enables gyroscope sensors

config GYRO_MPU3050
	depends on GYRO
	tristate "MPU3050 gyroscope driver"
	default y
	help
	  This option enables gyroscope sensors using MPU3050 driver.
