#
# Accelerometer Sensor Configuration
#

config ACCEL
	bool "Accelerometer Sensor"
	default y
	help
	  This option enables accelerometer sensors

config ACCEL_KXSD9
	depends on ACCEL
	tristate "KXSD9 Accelerometer driver"
	default y
	help
	  This option enables accelerometer sensors using KXSD9 driver.

