config BCM4330
	default m
	tristate "Broadcom 4330 WLAN Driver"
    select WIRELESS_EXT
	select WEXT_CORE
	select WEXT_PROC
	select WEXT_PRIV
	---help---
		Select this option to build Broadcom 4330 WLAN driver
#config BCM_EMBED_FW
#	default n
#	bool "Broadcom Embed FW into WiFi Driver"
#	depends on BROADCOM_WIFI != n
#	---help---
#		Select this option to embed firmware into wlan driver
config BCM_WIFI_SDIO
	default n
	bool "SDIO feature for broadcom wifi driver"
	depends on BCM4330
	---help---
		Select this option to enable SDIO change for Broadcom wifi driver.
